/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');


.card {
    height          : 40rem;
    margin-top      : auto;
    margin-bottom   : auto;
    width           : 66rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.boxing.flex-md-row {
    height: 100%;
}

.game {
    flex: 5;
}

.history {
    height         : auto;
    justify-content: space-around;
}

.history>div>img {
    width: 5rem;
}

.game-stat {
    flex            : 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.game-stat>h3 {
    align-self: center;
}

.card-body {
    display       : flex;
    flex-direction: column;
}

.btn-container {
    padding-bottom: 1.25rem;
}

.choices {
    display: flex;
    flex   : 1;
}

.card-choice {
    display         : flex;
    flex            : 1;
    justify-content : center;
    height          : auto;
    background-color: #FFFFFF;
    margin          : auto 1rem;
}

.choice.selected {
    border: 0.5rem solid greenyellow;
}

h3 {
    color: white;
}

.choice {
    display        : flex;
    flex           : 1;
    justify-content: center;
    flex-direction : column;
}

.input-group-prepend span {
    background-color: #FFC312;
    color           : black;
    border          : 0;
}

input:focus {
    outline   : 0 0 0 0;
    box-shadow: 0 0 0 0;

}

.login_btn {
    color           : black;
    background-color: #FFC312;
    width           : 10rem;
}

.login_btn:hover {
    color           : black;
    background-color: white;
}

.links a {
    margin-left: 0.4rem;
    color      : white;
}

.result {
    line-height: 5rem;
}

.Win {
    color: greenyellow;
}

.Lost {
    color: red;
}

.Equality {
    color: gray
}