<div class="d-flex flex-md-row flex-column boxing">
    <div class="d-flex justify-content-center h-100 p-5 game">
        <div class="card">
            <div class="card-header">
                <h3 class="d-flex justify-content-center">Rock Paper Scissors</h3>
            </div>
            <div class="card-body">
                <div class="choices">
                    <div class="card card-choice" *ngFor="let choice of choices" (click)="selectChoice(choice)">
                        <div class="choice" [class.selected]="choiceInstance[choice] === selectedChoice">
                            <img src="{{'assets/'+choiceInstance[choice].toLowerCase()+'.svg'}}" [alt]="choice" />
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center btn-container">
                    <button class="btn center login_btn" [disabled]="!selectedChoice" (click)="battleIA()">Lets'
                        go!</button>
                </div>
                <div class="card-footer">
                    <ng-container *ngIf="!!result">
                        IA choose {{iAChoice }}.
                        Result : {{result}}
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex p-2 game-stat flex-column">
        <div class="d-flex flex-row buttons my-2">
            <button class="btn" [class.selected]="display === 'statistiques'"
                (click)="toggleDisplay('statistiques')">Statistiques</button>
            <button class="btn" [class.selected]="display === 'ranking'"
                (click)="toggleDisplay('ranking')">Ranking</button>
        </div>
        <div *ngIf="display === 'statistiques'" class="px-1">
            <h3>Game Stats</h3>
            <h5>Score: {{winCount}}</h5>
            <h5>IA Score: {{iAWinCount}}</h5>
            <h5>Win Rate: {{winRate}} %</h5>
            <h5 class="history_title">History</h5>
            <div *ngFor="let hist of history" class="d-flex flex-row history m-2">
                <div>
                    <img src="{{'assets/'+hist.userChoice.toLowerCase()+'.svg'}}" [alt]="hist.userChoice" />
                </div>
                <div>
                    <img src="{{'assets/'+hist.iAChoice.toLowerCase()+'.svg'}}" [alt]="hist.iAChoice" />
                </div>
                <div class="{{hist.result}} result">
                    {{hist.result}}
                </div>
            </div>
        </div>
        <div *ngIf="display === 'ranking'">
            <div *ngIf="ranking.length === 0">
                No ranking recorded
            </div>
            <div *ngIf="ranking.length > 0">
                <div *ngFor="let rank of ranking; let index = index" class="d-flex justify-content-between px-3">
                    <span>{{ index + 1 }}</span> <span>{{rank.user.name}}</span> <span>{{(rank.wins * 100 /
                        rank.matchCount).toFixed(2)}} % </span>
                </div>
            </div>
        </div>
    </div>
</div>